/[lL]ibrary/
/[tT]emp/
/[oO]bj/
/[bB]uild/
/[bB]uilds/
/[lL]ogs/
/[uU]ser[sS]ettings/
*.spd
*.crash
/[Pp]latformChannels/
*.keystore
*.jks
crashlytics-build.properties
.vs/
.idea/
.gradle/
.vscode/
.plastic/
.utmp/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db