[attr]lfs-file filter=lfs diff=lfs merge=lfs -text

*.fbx lfs-file
*.obj lfs-file
*.max lfs-file
*.blend lfs-file
*.3ds lfs-file
*.dae lfs-file
*.png lfs-file
*.jpg lfs-file
*.jpeg lfs-file
*.tga lfs-file
*.psd lfs-file
*.tif lfs-file
*.tiff lfs-file
*.iff lfs-file
*.exr lfs-file
*.hdr lfs-file
*.wav lfs-file
*.mp3 lfs-file
*.ogg lfs-file
*.aif lfs-file
*.aiff lfs-file
*.flac lfs-file
*.mp4 lfs-file
*.mov lfs-file
*.asf lfs-file
*.avi lfs-file
*.ttf lfs-file
*.otf lfs-file
*.ttc lfs-file
*.woff lfs-file
*.dll lfs-file
*.so lfs-file
*.dylib lfs-file
*.bundle lfs-file
*.aar lfs-file
*.jar lfs-file
*.unitypackage lfs-file